<h1>O que você deseja cadastrar?</h1><br>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Candidato</h5>
      <a href="/admin/cad/candidato" class="btn btn-info">Criar</a>
        <a href="/admin/lista/candidato" class="btn btn-info">Lista</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cabo</h5>
      <a href="/admin/cad/cabo" class="btn btn-info">Criar</a>
        <a href="/admin/lista/cabo" class="btn btn-info">Lista</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Intenção</h5>
      <a href="/admin/cad/intencao_votos" class="btn btn-info">Criar</a>
        <a href="/admin/lista/intencao_voto" class="btn btn-info">Listar</a>
    </div>
  </div>
</div>

<div class="card" style="margin-top: 10px;">
  <div class="card-body">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ58wfdF359-V9F8z6h1_4WhZO0n51GP9xZXQ&usqp=CAU" alt="" class="rounded float-left img-fluid" style="margin-top: 30px; margin-left: 30px;">
    <div style="padding-left: 300px; padding-top: 10px;">
      <canvas id="chart" style="height: 80px; width: 225px;"></canvas>
    <h4 class="text-center">Faltam 250 votos</h4>
    </div>
  </div>
</div>


<h1 class="text-hide">Custom heading</h1>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
  let grafico = new Chart(document.querySelector("#chart").getContext("2d"),{
     type: 'bar',
    data: {
        labels: ['Votos conquistados', 'Votos restantes'],
        datasets: [{
            label: 'Número de votos',
            data: [250, 500],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
})
</script>