{{#if success_msg}}

<div class="alert alert-success">

    {{success_msg}}

</div>

{{/if}}

{{#if fail_msg}}

<div class="alert alert-danger">

    {{fail_msg}}

</div>

{{/if}}

{{#if primary_msg}}

<div class="alert alert-primary">

    {{primary_msg}}

</div>

{{/if}}