<h1>Seja bem vindo</h1>
<div class="jumbotron">
  <h1 class="display-4">Sincroni-Soluções</h1>
  <h2 class="text-primary"><a class="font-weight-bold text-primary">SIGPPV</a> - Sistema Inteligente de Gestão Política e Pesquisa de Votos</h2>
  <hr class="my-4">
  <p class="font-weight-normal">Escolha o tipo de login:</p>
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
  <a class="btn btn-primary btn-lg " href="/admin/login" role="button">ADM</a>
  <a class="btn btn-primary btn-lg" href="/candidato/login" role="button">Candidato</a>
  <a class="btn btn-primary btn-lg" href="/cabo/login" role="button">Cabo eleitoral</a>
  </div>
</div>
