<h1>O que você deseja cadastrar, candidato?</h1><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cabo Eleitoral</h5>
        <a href="/candidato/cad/cabo_eleitoral" class="btn btn-info">Criar</a>
        <a href="/candidato/lista/cabo" class="btn btn-black">Listar</a>
      </div>
    </div>
  </div> 
  </br>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Intenção de votos</h5>
        <a href="/candidato/cad/intencao_votos" class="btn btn-info">Criar</a>
        <a href="/candidato/lista/intencao_voto" class="btn btn-black">Listar</a>
      </div>
    </div>
  </div>
</div>
