<h1>O que você deseja cadastrar, cabo?</h1><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Intenção de votos</h5>
        <a href="/cabo/cad/intencao_votos" class="btn btn-info">Criar</a>
        <a href="/cabo/lista/intencao_voto" class="btn btn-black">Listar</a>
      </div>
    </div>
  </div>
</div>
