  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <img src="https://trello-attachments.s3.amazonaws.com/5f63127e6b82327483d4a257/199x132/cc73507fbb8e629045eefd8f31c9f468/SINCRO_VOTOS_%282%29.png" class="rounded mx-auto d-block" alt="...">        
            <form class="form-signin" action="" method="POST">
              <div class="form-label-group">
                <label for="inputEmail">Email</label>
                <div class="form-group icon">
                <span class="fa fa-envelope form-control-feedback"></span>
                <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
                </div>
              </div>
              <div class="form-label-group">
                <label for="inputPassword">Senha</label>
                <div class="form-group icon">
                <span class="fa fa-unlock form-control-feedback"></span>
                <input type="password" name="senha" class="form-control" placeholder="Senha" required>
                </div>
              </div>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
       
            </form>
            <div class="row">
            <div class="col-8 text-truncate">
            <a href="teste" class="text-muted">Esqueceu a senha?</a>
            </div>
            <div class="col-2 text-truncate">
              <a href="teste" class="text-muted">Ajuda</a>
            </div>
            <a href="/termo-servico" class="text-muted">Termos</a>
            </div>       
          </div>
          <img src="https://trello-attachments.s3.amazonaws.com/5f63127424c94073e24ccd7c/100x33/65365af4b0619485822b2335b94426ae/200x_2020.1_%281%29.png" class="rounded mx-auto d-block" alt="..."> 
        </div>
      </div>  
    </div>
  </div>