<h3>Bem-Vindo a politica de privacidade do Gerencia</h3><br>
<div class="border">
<h5>Informações que coletamos</h5>
<p class="text-justify">Cookies: Quando você acessa o Serviço, nós podemos usar cookies e tecnologias semelhantes para coletar informações sobre a forma como você usa o Gerencia Meu Mandato e fornecer recursos a você.

Armazenamento local: Podemos coletar e armazenar informações (inclusive informações pessoais) localmente em seu dispositivo usando mecanismos como armazenamento no navegador da web.

Informações de arquivo de log: As informações de arquivo de log são automaticamente fornecidas pelo seu navegador todas as vezes que fazemos uma solicitação para acessar (ou seja, visitar) uma página ou aplicativo da Web.

Identificadores de dispositivo: Quando você usa um dispositivo móvel como um tablet ou celular para acessar nosso Serviço, nós podemos acessar, coletar, monitorar, armazenar em seu dispositivo e/ou armazenar remotamente um ou mais "identificadores de dispositivo". Os identificadores de dispositivo são pequenos arquivos de dados ou estruturas de dados semelhantes armazenadas em seu dispositivo, ou associadas a ele, que identificam o seu dispositivo móvel de forma exclusiva.</p><br>
<h5>Como nós usamos suas informações</h5>
<p class="text-justify">Além de alguns dos usos específicos de informações que descrevemos nesta Política de Privacidade, nós podemos usar as informações que recebemos para:</p>
<ul>
  <li >ajudá-lo a acessar suas informações de forma eficiente após seu login;</li>
  <li >lembrar suas informações para que você não tenha que reinseri-las durante sua visita ou na próxima vez que acessar o Serviço;</li>
</ul>
</div>